.btn-secondary {
  position: relative;

  //СИНИЙ КРУГ
  &::before {
    content: "";
    position: absolute;
    transform: translateY(-50%);
    right: 0;
    width: 30px;
    height: 30px;
    background-color: $color-default-blue;
    border-radius: 50%;
  }

  @include hover-focus-visible {
    &::before {
      background-color: $color-default-white;
    }

    .btn-secondary__arrow {
      border-top: 1px solid $color-default-blue;
      border-right: 1px solid $color-default-blue;
      transform: rotate(45deg);

      &::before {
        background-color: $color-default-blue;
      }
    }
  }

  @include focus;

  @include active {
    &::before {
      background-color: $color-default-white;
    }

    .btn-secondary__arrow {
      border-top: 1px solid $color-default-blue-opacity70;
      border-right: 1px solid $color-default-blue-opacity70;
      transform: rotate(45deg);

      &::before {
        background-color: $color-default-blue-opacity70;
      }
    }
  }

  @include disabled {
    cursor: not-allowed;

    &::before {
      background-color: $color-grey;
    }

    .btn-secondary__arrow {
      border-top: 1px solid $color-default-white;
      border-right: 1px solid $color-default-white;
      transform: rotate(45deg);
      cursor: not-allowed;

      &::before {
        background-color: $color-default-white;
      }
    }
  }
}

.btn-secondary__arrow {
  position: absolute;
  top: -5px;
  right: 10px;
  display: inline-flex;
  width: 8px;
  height: 8px;
  border-top: 1px solid $color-default-white;
  border-right: 1px solid $color-default-white;
  transform: rotate(0deg);

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    right: -2px;
    width: 12px;
    height: 1px;
    background-color: $color-default-white;
    transform: rotate(135deg);
  }
}
