.btn {
  display: inline-flex;
  padding: 10px 20px;

  color: $color-default-blue;
  background-color: $color-default-white;
  border: 1px solid $color-default-blue;
  border-radius: 30px;
  cursor: pointer;

  transition: opacity $trans-default;
}
