.contacts__map {
  margin: 75px 0 0;
  width: 100%;
  min-height: 500px;
  height: auto;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  box-sizing: border-box;

  // background-image: url("../img/map/map.png");
}
