.custom-select {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  &__label {
    margin: 0 0 12px;
    color: $color-timber-wolf-opacity80;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    order: 1;

    @include vp-767 {
      font-size: 12px;
      line-height: 14px;
    }
  }

  select {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;

    white-space: nowrap;

    border: 0;

    clip: rect(0 0 0 0);
    clip-path: inset(100%);
  }

  &__button {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 17px 20px;

    background-color: transparent;
    border: 1px solid $color-default-white-opacity30;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    order: 2;

    @include hover-focus-visible {
      border: 1px solid $color-default-white;
    }

    @include focus {
      border: 1px solid $color-default-white;
    }

    @include active {
      border: 1px solid $color-default-white;
    }

    @include disabled {
      background-color: $color-default-white-opacity20;
      border: 1px solid $color-default-white-opacity40;
    }
  }

  &__button:hover ~ &__label {
    color: $color-timber-wolf;
  }

  &__button:active ~ &__label {
    color: $color-timber-wolf;
  }

  &__button:focus ~ &__label {
    color: $color-timber-wolf;
  }

  &__list {
    position: absolute;
    bottom: -4px;
    z-index: 2;

    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;

    list-style: none;

    background-color: $color-default-white;
    border: 1px solid $color-default-white;
    border-radius: 8px;
    transform: translateY(100%);
    visibility: hidden;
    opacity: 0;

    transition: visibility 0.3s ease, opacity 0.3s ease;
  }

  &__item {
    padding: 17px 20px;
    color: $color-default-profect;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;

    @include hover {
      color: $color-default-blue;
    }

    @include focus;

    @include active-focus-visible {
      color: $color-default-white;
      background-color: $color-default-blue;
    }
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    flex-shrink: 0;
    width: 80%;
    overflow: hidden;
    color: $color-timber-wolf;

    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;

    opacity: 0;

    transition: opacity 0.3s ease 0.1s;

    br {
      display: none;
    }
  }

  &__icon {
    flex-shrink: 0;
    width: 20px;
    height: 10px;
    margin-left: auto;
    background-color: $color-default-white;
    transition: transform 0.3s ease;
    clip-path: polygon(100% 0, 100% 20%, 50% 100%, 0 20%, 0 0, 50% 80%);
  }

  &.is-disabled {
    pointer-events: none;

    .custom-select__list {
      display: none;
    }
  }

  // &.open-up {
  //   .custom-select__list {
  //     bottom: auto;
  //     top: 0;
  //     transform: translateY(calc(-100% + 10px));
  //   }
  // }

  &.is-open {
    .custom-select__list {
      visibility: visible;
      opacity: 1;
    }

    .custom-select__icon {
      transform: rotate(180deg);
    }
  }

  &.not-empty {
    .custom-select__text {
      opacity: 1;
    }
  }

  &.is-invalid {
    .custom-select__button {
      background-color: $color-red-opacity20;
      border: 1px solid $color-red;
    }
  }
}
