.footer-footer {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include vp-1199 {
    flex-basis: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    order: 2;
  }

  @include vp-767 {
    align-items: center;
  }
}

.footer-footer span {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  @include vp-1199 {
    color: $color-default-profect-opacity60;
    font-size: 12px;
    line-height: 12px;
    order: 2;
  }

  @include vp-767 {
    line-height: 14px;
  }
}

.footer-footer__copyright {
  padding: 2px 0;
  color: $color-default-profect;
  border-bottom: 1px solid $color-default-profect;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  @include vp-1199 {
    font-size: 12px;
    line-height: 12px;
    order: 1;
  }

  @include vp-767 {
    line-height: 14px;
  }

  @include hover-focus-visible {
    color: $color-default-blue;
    border-bottom: 1px solid $color-purple-blue;
  }

  @include focus;

  @include active {
    color: $color-purple-blue;
    border-bottom: 1px solid $color-purple-blue;
  }
}
