.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $color-brown;
  color: $color-default-white;
  text-align: center;

  &--internship {
    background-image: url("../img/hero/internship.jpg");

    @include vp-1199 {
      background-image: url("../img/hero/internship-tablet.jpg");
    }

    @include vp-767 {
      background-image: url("../img/hero/internship-mobile.jpg");
    }
  }

  &--volunteer {
    background-image: url("../img/hero/volunteer.jpg");

    @include vp-1199 {
      background-image: url("../img/hero/volunteer-tablet.jpg");
    }

    @include vp-767 {
      background-image: url("../img/hero/volunteer-mobile.jpg");
    }
  }

  &--experience {
    background-image: url("../img/hero/experience.jpg");

    @include vp-1199 {
      background-image: url("../img/hero/experience-tablet.jpg");
    }

    @include vp-767 {
      background-image: url("../img/hero/experience-mobile.jpg");
    }
  }
}

.hero__wrapper {
  background-color: $color-default-blue-opacity20;
}

.hero__swiper-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;

  @include vp-1199 {
    padding: 0 45px;
  }

  @include vp-767 {
    padding: 0 15px;
  }
}

.hero__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hero__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  min-height: 718px;

  @include vp-1199 {
    min-height: 960px;
  }

  @include vp-767 {
    min-height: 494px;
  }
}

.hero__item--experience {
  .hero-main__info {
    padding: 5px 50px 15px;
  }

  .hero-main__description p {
    margin: -10px 0 10px;
  }
}
