.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $color-brown;
  color: $color-default-white;
  text-align: center;

  &--internship {
    background-image: url("../img/hero/internship.jpg");

    @include vp-1199 {
      background-image: url("../img/hero/internship-tablet.jpg");
    }

    @include vp-767 {
      background-image: url("../img/hero/internship-mobile.jpg");
    }
  }

  &--volunteer {
    background-image: url("../img/hero/volunteer.jpg");

    @include vp-1199 {
      background-image: url("../img/hero/volunteer-tablet.jpg");
    }

    @include vp-767 {
      background-image: url("../img/hero/volunteer-mobile.jpg");
    }
  }

  &--experience {
    background-image: url("../img/hero/experience.jpg");

    @include vp-1199 {
      background-image: url("../img/hero/experience-tablet.jpg");
    }

    @include vp-767 {
      background-image: url("../img/hero/experience-mobile.jpg");
    }
  }
}

.hero__wrapper {
  background-color: $color-default-blue-opacity20;
}

.hero__swiper-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;

  @include vp-1199 {
    padding: 0 45px;
  }

  @include vp-767 {
    padding: 0 15px;
  }
}

.hero__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hero__item {
  padding: 365px 0 60px;

  @include vp-1199 {
    padding: 632px 0 60px;
  }

  @include vp-767 {
    margin: 0 0 -5px;
    padding: 188px 0 20px;
  }
}
