.input-select {
  margin: 0;
  padding: 0;
  border: 0;
}

.input-select__wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input-select__wrapper.is-invalid .input-select__input {
  background-color: $color-red-opacity20;
  border: 1px solid $color-red;
}

.input-select__label {
  color: $color-timber-wolf-opacity80;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.input-select__input {
  width: 100%;
  min-height: 50px;
  color: transparent;
  background-color: transparent;
  border: 1px solid $color-default-white-opacity30;
  border-radius: 8px;
  order: 2;

  @include hover-focus-visible {
    border: 1px solid $color-default-white;
  }
}

.input-select__input:hover ~ .input-select__label {
  color: $color-timber-wolf;
}

.input-select option {
  color: $color-default-black;
}

.input-select.is-invalid .input-select__input {
  background-color: $color-red-opacity20;
  border: 1px solid $color-red;
}

.input-select--modal {
  .input-select__label {
    color: $color-default-profect-opacity80;
  }

  .input-select__input {
    border: 1px solid $color-default-profect-opacity30;

    @include hover-focus-visible {
      border: 1px solid $color-default-profect;
    }
  }

  .input-select__input:hover ~ .input-select__label {
    color: $color-default-profect;
  }
}
