.input-textarea {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0;
  padding: 0;
  border: 0;
}

.input-textarea__label {
  margin: 0;
  color: $color-timber-wolf-opacity80;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.input-textarea__input {
  padding: 16px 25px;
  width: 100%;
  color: $color-default-white;
  background-color: transparent;
  border: 1px solid $color-default-white-opacity30;
  border-radius: 8px;
  order: 2;

  @include hover-focus-visible {
    border: 1px solid $color-default-white;
  }
}

.input-textarea__input:hover ~ .input-textarea__label {
  color: $color-timber-wolf;
}


.input-textarea.is-invalid .input-textarea__input {
  background-color: $color-red-opacity20;
  border: 1px solid $color-red;
}
