.main-nav {
  position: absolute;
  top: 30px;
  right: 100px;
  z-index: 2;

  @include vp-1199 {
    right: 45px;
  }

  @include vp-767 {
    top: 20px;
    right: 15px;
  }
}

// КНОПКА ЗАКРЫТОГО МЕНЮ
.main-nav__toggle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 22px 20px;
  width: 134px;
  height: 54px;
  color: $color-default-blue;
  background-color: $color-default-white;
  border: 1px solid $color-default-blue;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  cursor: pointer;

  // БУРГЕР КНОПКА ЗАКРЫТОГО МЕНЮ
  &::after {
    content: "";
    position: absolute;
    top: 23px;
    right: 18px;
    width: 18px;
    height: 1px;
    background-color: $color-default-white;
    box-shadow: 0 4px 0 0 $color-default-white, 0 8px 0 0 $color-default-white;
  }

  @include hover-focus-visible {
    color: $color-default-white;
    background-color: $color-default-blue;
    border: 1px solid $color-default-blue;

    &::after {
      background-color: $color-default-blue;
      box-shadow: 0 4px 0 0 $color-default-blue, 0 8px 0 0 $color-default-blue;
    }

    .main-nav__toggle-circle {
      &::before {
        background-color: $color-default-white;
      }
    }
  }

  @include focus;

  @include active {
    color: $color-default-white-opacity70;
    background-color: $color-default-blue;
    border: 1px solid $color-default-blue;

    &::after {
      background-color: $color-default-blue-opacity70;
      box-shadow: 0 4px 0 0 $color-default-blue-opacity70, 0 8px 0 0 $color-default-blue-opacity70;
    }

    .main-nav__toggle-circle {
      &::before {
        background-color: $color-default-white;
      }
    }
  }
}

//СИНИЙ КРУГ ВОКРУГ БУРГЕРА
.main-nav__toggle-circle {
  &::before {
    content: "";
    position: absolute;
    top: 4px;
    right: 4px;
    width: 46px;
    height: 46px;
    background-color: $color-default-blue;
    border-radius: 50%;
  }
}

// ОТКРЫТАЯ НАВИГАЦИЯ
.main-nav--opened {
  @include vp-767 {
    width: calc(100% - 30px);
  }
}

// КНОПКА ОТКРЫТОЕ МЕНЮ
.main-nav--opened .main-nav__toggle {
  min-width: 286px;
  color: $color-default-white;
  background-color: $color-default-blue;
  border: 1px solid $color-default-blue;

  @include vp-767 {
    min-width: 100%;
  }

  // КРЕСТИК
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 12px;
    width: 28px;
    height: 1px;
    background-color: $color-default-blue;
    z-index: 2;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
    box-shadow: none;
  }

  @include hover-focus-visible {
    color: $color-default-blue;
    background-color: $color-default-white;
    border: 1px solid $color-default-blue;

    &::before,
    &::after {
      background-color: $color-default-white;
    }

    .main-nav__toggle-circle {
      &::before {
        background-color: $color-default-blue;
      }
    }
  }

  @include focus;

  @include active {
    color: $color-default-blue-opacity70;
    background-color: $color-default-white;
    border: 1px solid $color-default-blue;

    &::before,
    &::after {
      background-color: $color-default-white-opacity70;
    }

    .main-nav__toggle-circle {
      &::before {
        background-color: $color-default-blue;
      }
    }
  }
}

// БЕЛЫЙ КРУГ ВОКРУГ КРЕСТИКА
.main-nav--opened .main-nav__toggle-circle {
  &::before {
    background-color: $color-default-white;
  }
}
