.main-nav {
  position: relative;
}

// КНОПКА ЗАКРЫТОГО МЕНЮ
.main-nav .main-nav__toggle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 22px 20px;
  width: 134px;
  height: 54px;
  color: $color-default-blue;
  background-color: $color-default-white;
  border: 1px solid $color-default-blue;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  cursor: pointer;
}

// БУРГЕР КНОПКА ЗАКРЫТОГО МЕНЮ
.main-nav__toggle {
  &::after {
    content: "";
    position: absolute;
    top: 23px;
    right: 18px;
    width: 18px;
    height: 1px;
    background-color: $color-default-white;
    box-shadow: 0 4px 0 0 $color-default-white, 0 8px 0 0 $color-default-white;
  }
}

//СИНИЙ КРУГ ВОКРУГ БУРГЕРА
.main-nav .main-nav__toggle-circle {
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4px;
    width: 46px;
    height: 46px;
    background-color: $color-default-blue;
    border-radius: 50%;
  }
}

// КНОПКА ОТКРЫТОЕ МЕНЮ
.main-nav--opened .main-nav__toggle {
  width: 286px;
  color: $color-default-white;
  background-color: $color-default-blue;
  border: 1px solid $color-default-blue;

  // КРЕСТИК
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 12px;
    width: 28px;
    height: 1px;
    background-color: $color-default-blue;
    z-index: 2;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

// БЕЛЫЙ КРУГ ВОКРУГ КРЕСТИКА
.main-nav--opened .main-nav__toggle-circle {
  &::before {
    background-color: $color-default-white;
  }
}
