.main-nav {
  position: relative;
}

// КНОПКА ЗАКРЫТОГО МЕНЮ
.main-nav--closed .main-nav__toggle {
  width: 134px;
  // БУРГЕР
  &::after {
    content: "";
    position: absolute;
    top: 23px;
    right: 18px;
    width: 18px;
    height: 1px;
    background-color: $color-default-white;
    box-shadow: 0 4px 0 0 $color-default-white, 0 8px 0 0 $color-default-white;
  }
}

// КНОПКА ОТКРЫТОЕ МЕНЮ
.main-nav--opened .main-nav__toggle {
  width: 286px;
  // КРЕСТИК
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 12px;
    width: 28px;
    height: 1px;
    background-color: $color-default-blue;
    z-index: 2;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}
