.news-card {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $color-default-blue;

  &--internships {
    background-image: url("../img/news/internships.jpg");

    @include vp-1199 {
      background-image: url("../img/news/internships-tablet.jpg");
    }
  }

  &--trips {
    background-image: url("../img/news/trips.jpg");

    @include vp-1199 {
      background-image: url("../img/news/trips-tablet.jpg");
    }
  }

  &--volunteer {
    background-image: url("../img/news/volunteer.jpg");

    @include vp-1199 {
      background-image: url("../img/news/volunteer-tablet.jpg");
    }
  }

  &--career {
    background-image: url("../img/news/career.jpg");

    @include vp-1199 {
      background-image: url("../img/news/career-tablet.jpg");
    }
  }
}

.swiper-slide {
  width: calc(25% - 24px);
}

.swiper-slide:first-child {
  width: calc(50% - 16px);
}

.swiper-slide .news-card__info {
  width: calc(100% - 46px);

  @include vp-1199 {
    width: calc(100% - 84px);
  }
}

.swiper-slide:first-child .news-card__info {
  width: calc(100% - 215px);

  @include vp-1199 {
    width: calc(100% - 84px);
  }
}

.swiper-slide .news-card__header {
  padding: 6px 5px 0 0;
  width: calc(100% - 72px);

  @include vp-1199 {
    width: calc(100% - 117px);
  }
}

.swiper-slide:first-child .news-card__header {
  padding: 12px 18px 3px 0;
  width: calc(100% - 313px);

  @include vp-1199 {
    width: calc(100% - 117px);
  }
}

.news-card__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  min-height: 400px;

  @include vp-1199 {
    min-height: 350px;
  }
}

.news-card__date {
  position: relative;
  padding: 2px 12px 0 0;
  color: $color-default-blue;
  background-color: $color-timber-wolf;
  border-radius: 0 12px 0 0;
}

.news-card__date .news-card__date-svg-top {
  position: absolute;
  top: -16px;
  left: 0;
  fill: $color-timber-wolf;
}

.news-card__date .news-card__date-svg-right {
  position: absolute;
  bottom: 0;
  right: -16px;
  fill: $color-timber-wolf;
}

.news-card__date span {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.12px;
}

.news-card__header {
  position: relative;
  color: $color-default-blue;
  background-color: $color-timber-wolf;
  border-radius: 0 12px 0 0;
}

.news-card__header svg {
  position: absolute;
  bottom: 0;
  right: -16px;
  fill: $color-timber-wolf;
}

.news-card__header h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;

  @include vp-1199 {
    font-size: 20px;
    line-height: 24px;
  }
}

.news-card__info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 46px;
  padding: 8px 18px 12px 0;
  background-color: $color-timber-wolf;
  border-radius: 0 12px 0 0;
}

.news-card__info svg {
  position: absolute;
  bottom: 0;
  right: -16px;
  fill: $color-timber-wolf;
}

.news-card__info p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  @include vp-1199 {
    line-height: 20px;
  }
}
