.news__wrapper {
  padding: 120px 0;
}

.news__wrapper h2 {
  margin: 0 0 52px;
  color: $color-default-blue;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
}

.news__controls {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0 0 30px;
}

.news__controls button {
  padding: 14px 20px;
  color: $color-default-blue;
  background-color: transparent;
  border: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
}

.news__swiper {
  margin: 0 0 40px;
}

.news__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.news__buttons {
  position: relative;
  height: 32px;
}

.news__buttons .swiper-pagination {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.news__buttons .swiper-pagination-bullet {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  color: $color-default-blue-opacity50;
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.news__buttons .swiper-pagination-bullet-active {
  color: $color-default-white;
  background-color: $color-default-blue;
}

.news__button {
  position: absolute;
  top: 5px;
  z-index: 2;

  &--prev {
    left: 0;
  }

  &--next {
    right: 0;
  }
}
