.programs-card {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $color-default-blue;
  border-radius: 12px;

  &--internships {
    background-image: url("../img/programs/internships.jpg");

    @include vp-1199 {
      background-image: url("../img/programs/internships-tablet.jpg");
    }

    @include vp-767 {
      background-image: url("../img/programs/internships-mobile.jpg");
    }
  }

  &--volunteer {
    background-image: url("../img/programs/volunteer.jpg");

    @include vp-1199 {
      background-image: url("../img/programs/volunteer-tablet.jpg");
    }

    @include vp-767 {
      background-image: url("../img/programs/volunteer-mobile.jpg");
    }
  }

  &--studies {
    background-image: url("../img/programs/studies.jpg");

    @include vp-1199 {
      background-image: url("../img/programs/studies-tablet.jpg");
    }

    @include vp-767 {
      background-image: url("../img/programs/studies-mobile.jpg");
    }
  }
}

.programs-card__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  min-height: 420px;
  background-color: $color-default-blue-opacity20;
  border-radius: 12px;

  @include vp-1199 {
    min-width: 324px;
    min-height: 420px;
    aspect-ratio: 324/420;
  }

  @include vp-767 {
    padding: 18px 10px;
    min-width: 290px;
    min-height: 400px;
    aspect-ratio: 290/400;
  }
}

.programs-card__header {
  position: relative;
  padding: 13px 18px 1px;
  width: calc(100% - 158px);
  min-width: 214px;
  background-color: $color-timber-wolf;
  border-radius: 12px 12px 0 0;

  @include vp-1199 {
    width: calc(100% - 111px);
    min-width: 173px;
  }

  @include vp-767 {
    padding: 20px 18px 5px;
    width: calc(100% - 134px);
    min-width: 146px;
  }
}

.programs-card__header svg {
  position: absolute;
  bottom: 0;
  right: -18px;
  fill: $color-timber-wolf;
}

.programs-card__header h3 {
  margin: 0;
  color: $color-default-blue;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;

  @include vp-1199 {
    font-size: 20px;
    line-height: 24px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 18px;
  }
}

.programs-card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 12px 18px 15px 18px;
  width: calc(100% - 31px);
  min-height: 79px;
  background-color: $color-timber-wolf;
  border-radius: 0 12px 12px 12px;

  @include vp-1199 {
    gap: 45px;
    padding: 8px 18px 10px 18px;
    width: calc(100% - 21px);
    min-height: 77px;
  }

  @include vp-767 {
    width: 100%;
    min-height: 69px;
  }
}

.programs-card__info p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  @include vp-1199 {
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 14px;
  }
}
