.programs__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 100px 123px;
  width: 100%;
  max-width: 1440px;

  @include vp-1199 {
    padding: 0 0 100px 45px;
  }

  @include vp-767 {
    padding: 0 15px 67px;
  }
}

.programs__header {
  @include vp-767 {
    order: 1;
  }
}

.programs__header h2 {
  margin: 0;
  color: $color-default-blue;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;

  @include vp-1199 {
    font-size: 34px;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 20px;
  }
}

.programs__link {
  width: 232px;

  @include vp-1199 {
    margin: 0 45px 0 0;
  }

  @include vp-767 {
    margin: 0;
    width: 100%;
    order: 5;
  }
}

.programs__link a {
  @include vp-767 {
    padding: 16px 30px;
  }
}

.programs__swiper {
  flex-basis: 100%;
  margin: 45px 0 37px;

  @include vp-1199 {
    margin: 40px 0;
  }

  @include vp-767 {
    margin: 32px 0 30px;
    order: 3;
  }
}

.programs__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.programs__controls {
  flex-basis: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 52px;

  @include vp-1199 {
    padding: 0 45px 0 0;
  }

  @include vp-767 {
    flex-basis: auto;
    gap: 0;
    padding: 0;
    order: 2;
  }
}

.programs__pagination-container {
  position: relative;
  align-self: center;

  @include vp-767 {
    display: none;
  }
}

.programs__pagination-container .swiper-pagination-progressbar {
  position: absolute;
  background-color: $color-default-blue-opacity20;
}

.programs__pagination .swiper-pagination-progressbar-fill {
  background-color: $color-default-blue;
}

.programs__buttons {
  align-self: center;
  justify-self: end;
}
