.question__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 650px auto;
  margin: 0 0 8px;
  padding: 40px;
  color: $color-default-blue;
  border: 1px solid $color-default-blue;
  border-radius: 16px;
  cursor: pointer;

  @include vp-1199 {
    grid-template-columns: 1fr auto;
    padding: 30px;
  }

  @include vp-767 {
    padding: 20px 15px;
  }

  @include hover-focus-visible {
    background-color: $color-default-white;

    .question__button {
      &::before {
        background-color: transparent;
      }
    }

    .question__sign {

      &::after,
      &::before {
        background-color: $color-default-blue;
      }
    }
  }

  @include focus;

  @include active {
    border: 1px solid $color-purple-blue;

    .question__button {
      &::before {
        background-color: $color-purple-blue;
        border: 1px solid $color-purple-blue;
      }
    }

    .question__sign {

      &::after,
      &::before {
        background-color: $color-default-white;
      }
    }
  }
}

.question.is-active .question__wrapper {
  gap: 10px 0;
  margin: 0 0 10px;
  padding: 40px 40px 35px;
  color: $color-default-white;
  background-color: $color-default-blue;

  @include vp-1199 {
    padding: 30px;
  }

  @include vp-767 {
    gap: 20px 0;
    padding: 20px 15px;
  }

  @include hover-focus-visible {
    .question__button {
      &::before {
        background-color: transparent;
        border: 1px solid $color-default-white;
      }
    }

    .question__sign {
      &::after {
        background-color: transparent;
      }

      &::before {
        background-color: $color-default-white;
      }
    }
  }

  @include focus;

  @include active {
    background-color: $color-purple-blue;

    .question__button {
      &::before {
        background-color: $color-default-white;
        border: 1px solid $color-default-white;
      }
    }

    .question__sign {
      &::after {
        background-color: transparent;
      }

      &::before {
        background-color: $color-purple-blue;
      }
    }
  }
}

.question.is-active .question__button {
  &::before {
    background-color: $color-default-white;
    border: 1px solid $color-default-white;
  }
}

.question.is-active .question__sign {
  &::after {
    background-color: transparent;
  }

  &::before {
    background-color: $color-default-blue;
  }
}

.question__button {
  position: relative;
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: start;
  justify-self: end;
  width: 40px;
  height: 40px;
  padding: 0;
  color: transparent;
  background: transparent;
  border: 1px solid transparent;
  cursor: pointer;

  @include vp-767 {
    width: 32px;
  }

  // КРУГ КНОПКИ
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    padding: 0;
    width: 40px;
    height: 40px;
    background-color: $color-default-blue;
    border: 1px solid $color-default-blue;
    border-radius: 50%;

    @include vp-767 {
      width: 32px;
      height: 32px;
    }
  }
}

.question__sign {

  // ПЛЮС КНОПКИ
  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 11px;
    width: 18px;
    height: 1px;
    background-color: $color-default-white;

    @include vp-767 {
      left: 7px;
    }
  }

  &::after {
    transform: rotate(90deg);
  }

  &::before {
    transform: rotate(180deg);
  }
}

.question h3 {
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 0;
  font-size: 28px;
  font-weight: 400;
  line-height: 27px;

  @include vp-1199 {
    font-size: 22px;
    line-height: 26px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 18px;
  }
}

.question__content {
  grid-column: 1/2;

  @include vp-767 {
    grid-column: 1/3;
  }
}

.question__content p {
  margin: 0;
  color: $color-timber-wolf;

  @include vp-1199 {
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 14px;
  }
}
