.reviews__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 113px 100px 120px;
  width: 100%;
  max-width: 1440px;

  @include vp-1199 {
    padding: 113px 0 110px 45px;
  }

  @include vp-767 {
    padding: 50px 15px 30px;
  }
}

.reviews__header {
  @include vp-767 {
    order: 1;
  }
}

.reviews__header h2 {
  margin: 0;
  color: $color-default-blue;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;

  @include vp-1199 {
    font-size: 34px;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 20px;
  }
}

.reviews__swiper {
  margin: 45px 0 40px;

  @include vp-767 {
    margin: 30px 0 35px;
    order: 3;
  }
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.reviews__controls {
  flex-basis: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 52px;

  @include vp-1199 {
    padding: 0 45px 0 0;
  }

  @include vp-767 {
    flex-basis: auto;
    gap: 0;
    padding: 0;
    order: 2;
  }
}

.reviews__pagination-container {
  position: relative;
  align-self: center;

  @include vp-767 {
    display: none;
  }
}

.reviews__pagination-container .swiper-pagination-progressbar {
  position: absolute;
  background-color: $color-default-blue-opacity20;
}

.reviews__pagination .swiper-pagination-progressbar-fill {
  background-color: $color-default-blue;
}

.reviews__buttons {
  align-self: center;
  justify-self: end;
}
