.swiper-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 10px;
}

.swiper-buttons__button {
  position: relative;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 1px;
    background-color: $color-default-blue;
  }

  @include hover-focus-visible {
    background-color: $color-default-white;
  }

  @include focus;

  @include active {
    background-color: $color-default-white;

    &::before {
      background-color: $color-default-blue-opacity70;
    }

    .swiper-buttons__arrow {
      border-top: 1px solid $color-default-blue-opacity70;
      border-right: 1px solid $color-default-blue-opacity70;
    }
  }

  @include disabled {
    background-color: transparent;
    cursor: not-allowed;

    &::before {
      background-color: $color-grey;
    }

    .swiper-buttons__arrow {
      border-top: 1px solid $color-grey;
      border-right: 1px solid $color-grey;
      cursor: not-allowed;
    }
  }
}

.swiper-buttons__arrow {
  position: absolute;
  top: 6px;
  display: inline-flex;
  width: 8px;
  height: 8px;
  cursor: pointer;
  border-top: 1px solid $color-default-blue;
  border-right: 1px solid $color-default-blue;

  &--prev {
    left: 7px;
    transform: rotate(-135deg);
  }

  &--next {
    right: 7px;
    transform: rotate(45deg);
  }
}
