@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Manrope";

  font-display: swap;
  src: url("../fonts/Manrope-Light.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Manrope";

  font-display: swap;
  src: url("../fonts/Manrope-Regular.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Manrope";

  font-display: swap;
  src: url("../fonts/Manrope-Medium.woff2") format("woff2");
}
