// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-default-profect:             #484848;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-gentian-blue-opacity40:      rgba(13, 29, 51, 0.4);
$color-default-blue:                #316dc2;
$color-brown:                       #964b00;
$color-timber-wolf:                 #f0efe9;
$color-default-blue-opacity70:      rgb(49, 109, 194, 0.7);
$color-default-blue-opacity50:      rgb(49, 109, 194, 0.5);
$color-default-blue-opacity20:      rgba(49, 109, 194, 0.2);
$color-default-white-opacity70:     rgb(255, 255, 255, 0.7);
$color-default-white-opacity20:     rgb(255, 255, 255, 0.2);
$color-default-profect-opacity60:   rgb(72, 72, 72, 0.6);


// Gradient

$black-to-right:                    linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

// Typography
// ---------------------------------

$fz-default: 16px;
$ff-fallback: "Arial", "sans-serif";
$ff-manrope: "Manrope", $ff-fallback;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-768:                            768px;
$vp-1200:                           1200px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
